{% extends "base.html" %}

{% block content %}

<div class="container mt-5">

    <h2>Checkout</h2>
    <hr>

    <h4>Total Amount: ₹{{ total }}</h4>

    <form method="POST" id="checkoutForm">

        <div class="mb-3">
            <label>Delivery Address</label>
            <textarea class="form-control" name="address" rows="4" required></textarea>
        </div>

        <div class="mb-3">
            <label>Payment Method</label>

            <select class="form-control" name="payment">
                <option value="COD">Cash on Delivery</option>
                <option value="Online">Online Payment</option>
            </select>
        </div>

        <button type="submit" class="btn btn-success">
            Place Order
        </button>

    </form>

</div>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>

var options = {
    key: "{{ razorpay_key }}",
    amount: "{{ razorpay_order.amount }}",
    currency: "INR",
    name: "EliteMart",
    description: "Order Payment",
    order_id: "{{ razorpay_order.id }}",

    handler: function (response) {
        alert("Payment Successful!");

        // Payment hone ke baad form submit hoga
        document.getElementById("checkoutForm").submit();
    }
};

var rzp = new Razorpay(options);

document.getElementById("checkoutForm").addEventListener("submit", function(e){

    var payment = document.querySelector("[name='payment']").value;

    if(payment === "Online"){
        e.preventDefault();
        rzp.open();
    }

});

</script>

{% endblock %}